
:root {
    --text-color: #f0f0f0;
    --background-color: #171717;
    --primary-color: #474847;
    --secondary-color: #050505;
    --accent-color: #3a3b3a;


}






* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    scroll-behavior: smooth;
    
    
}

nav {
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    text-align: center;
    padding-top: 1.563rem;
    padding-bottom: 1.563rem;
    width: 100%;
    position: fixed;
    transition: background-color 0.5s;
}

nav.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
}




h1{
    font-size: 2.25rem;
    padding-bottom: 1rem;
}

h2{
    font-size: 1.875rem;
}


.grid{
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 2rem;
    padding: 15rem 0 10rem 10rem;
    justify-content: center;
    

}



.section1 {
    
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    background-image: url('aaabstract.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
    
    

}











.chleb {
    overflow: hidden;
    position: relative;
    
}

.chleb::before {
    content: "developer";
    animation: test 3s  ease-in  infinite normal;
    color: #00FF66;
    
    
    
}

.chleb::after {
    content: "";
    width: 2px;
    height: 100%;
    background-color: white;
    position: absolute;
    animation: blinking 0.5s infinite normal;
}

@keyframes test {
    0% { content: ""; }
    10% { content: " "; }
    20% { content: "d"; }
    30% { content: "de"; }
    40% { content: "dev"; }
    50% { content: "deve"; }
    60% { content: "devel"; }
    70% { content: "develo"; }
    80% { content: "develop"; }
    90% { content: "develope"; }
    100% { content: "developer"; }
    
}

@keyframes blinking {
    from { opacity: 0%; }
    to { opacity: 100%; }
}







.links li{
    display: inline;
    padding: 2rem;




    
}








.intro{
    position: relative;
    text-align: left;
    animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    

    

    
    
}

.ImagePhoto{
    height: 45vh;
    border-radius: 40%;
    animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940)  both, slide 1.5s 2s infinite alternate ease-in-out
    
    
}


@keyframes slide {
    0% {transform: translateY(0) translateX(0);}
      100% {transform: translateY(-20px) translateX(20px);}
    }

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
    0% {
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }

  /* @media screen and (max-width: 1268px) {
    .grid {
      grid-template-columns: 1fr;
      padding: 5rem 0;
      

    }
  
    .intro, .ImagePhoto {
      text-align: center;
      margin: 2rem;
    }
  
    .ImagePhoto {
      
      

      
      
      
    }
  } */

.section2 {
    
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    background-image: url('aaabstract.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
   
    justify-content: center;
    align-items: center;
    display: flex;


}

.grid2{
  display: flex;
  
  gap: 0;
  justify-content: center;
  
 
}



.whiteside {
  background: gray;
  width: 20vw;
  height: 50vh;
  border-radius: 50px 0 0 50px;
  justify-content: right;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: right;
  
  
  
  
  
}
.left{ grid-area: 1 / 2 / 6 / 3; }
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 3 / 1 / 4 / 2; }
.div4 { grid-area: 4 / 1 / 5 / 2; }
.div5 { grid-area: 5 / 1 / 6 / 2; }





.left{
  width: 100%;
  height: 100%;
  
  
}

.whiteside h1 {

  position: absolute;
  padding-top: 20px;
  padding-left: 20px;
  
  
  
}



.whiteside h2 {
  display: none;
  position: absolute;
  top: 50%; 

  padding-bottom: 20px;
  
  
  
}

.whiteside:hover {
  transform: translateX(10em) scale(1.7);
  
}

.whiteside:hover h2 {
  display: block;
  transform: scale(0.5); 
}



.blackside {
  background: blue;
  width:  20vw;
  height: 50vh;
  display: flex;
  border-radius: 0 50px 50px 0;
  
  justify-content: left;
  animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940)  both,


}

.right{
  width: 50%;
  height: 100%;

  
  
  
}




.blackside:hover{
  transform: translateX(-10em) scale(1.4);
  

}









