:root {
  --text-color: #f0f0f0;
  --text-color-navar: #03ffff;
  --background-color: #171717;
  --primary-color: #474847;
  --secondary-color: #050505;
  --accent-color: #3a3b3a;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-size: 4vw;
  padding-bottom: 1rem;
}

h2 {
  font-size: 1.875rem;
}

a {
  text-align: center;
  text-decoration: none;
  padding: 3vw 0vw 0 0vw;
  animation: bounce-in-top 2s both;
}

.hr {
  border: none;
  border-top: 1px solid white;
}

nav {
  color: var(--text-color-navar);
  font-family: "Belanosima", sans-serif;
  background-color: transparent;
  position: fixed;
  padding-top: 1.563rem;
  padding-bottom: 1.563rem;
  width: 100%;
  z-index: 100;
  transition: background-color 0.5s;
  text-align: center;
}

nav > ul > .btn-home {
  float: left;
  padding: 0;
  padding-left: 30px;
  cursor: pointer;
}

nav.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
}

.links li {
  display: inline;
  padding: 2rem;
  font-size: 2vw;
}

.links li:hover {
  color: black;
}

.section1 {
  color: var(--text-color);
  font-family: "Belanosima", sans-serif;
  background-image: url("homepage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}

.intro {
  position: relative;
  text-align: center;
  top: 30%;
  overflow: hidden;
}

.introText {
  position: relative;
  animation: slide-in-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.chleb {
  position: relative;
  animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.chleb::before {
  content: "programmer";
  animation: test 3s 2.5s ease-in infinite normal;
  color: var(--text-color-navar);
}

.chleb::after {
  content: "";
  width: 2px;
  background-color: white;
  position: absolute;
  animation: blinking 0.5s infinite normal;
}

.bubbles-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.bubbles {
  position: relative;
  display: flex;
}

.bubbles span {
  position: relative;
  width: 100px;
  height: 30px;
  background: #03ffff;
  margin: 0 4 px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #03ffff, 0 0 100px #03ffff;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
  pointer-events: none;
}

@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(0.3);
  }
}

@keyframes test {
  0% {
    content: "p";
  }
  10% {
    content: "pr";
  }
  20% {
    content: "pro";
  }
  30% {
    content: "prog";
  }
  40% {
    content: "progr";
  }
  50% {
    content: "program";
  }
  60% {
    content: "programm";
  }
  70% {
    content: "programme";
  }
  80% {
    content: "programmer";
  }
}

@keyframes blinking {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes slide {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(20px) translateX(-20px);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
/* ---------------------Tech stack page---------------------- */
.section2 {
  color: var(--text-color);
  font-family: "Belanosima", sans-serif;
  background-color: #0b2447;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20px;
}

.underline {
  width: 6rem;
  height: 0.25rem;
  background: #49a6e9;

  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  height: 100vh;
  padding: 4rem;
  display: flex;
  gap: 7.5rem;
  justify-content: center;
  align-items: center;
}

.SkillContainer {
  border-color: #03ffff;
  border-style: solid;
  border-width: 5px;
  background-color: #042747;
  flex: 1;
  min-height: 50vh;
  border-radius: 40px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.skillsTheme {
  color: #03ffff;
  font-size: 2.5vw;
  font-weight: bold;
  background-color: #06122c;
  padding: 0.938rem;
}

.skillsDescribtion {
  font-size: 1.5vw;
  padding: 2rem;
}

.bar {
  background: black;
  display: block;
  height: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0, 3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0, 24);
  transform: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-top: 10px;
}

.bar span {
  height: 100%;
  float: left;
  background: linear-gradient(
    135deg,
    rgba(236, 0, 140, 1) 0%,
    rgba(252, 103, 103, 1) 100%
  );
}

.skillbar {
  display: none;
}

.SkillContainer:hover {
  transform: scale(1.1, 1.1);
}

.SkillContainer:hover .skillbar {
  display: block;
}

.JS {
  width: 40%;
  animation: js 3s;
}

.css {
  width: 90%;
  animation: css 3s;
}
.html {
  width: 90%;
  animation: html 3s;
}
.react {
  width: 30%;
  animation: react 3s;
}
.bootstrap {
  width: 60%;
  animation: bootstrap 3s;
}

.python {
  width: 70%;
  animation: python 3s;
}
.nodejs {
  width: 50%;
  animation: nodejs 3s;
}
.mongodb {
  width: 50%;
  animation: mongodb 3s;
}
.postgressql {
  width: 60%;
  animation: postgressql 3s;
}
.restapi {
  width: 80%;
  animation: restapi 3s;
}
.figma {
  width: 60%;
  animation: figma 3s;
}
.photoshop {
  width: 30%;
  animation: photoshop 3s;
}
.git {
  width: 70%;
  animation: git 3s;
}
.postman {
  width: 60%;
  animation: postman 3s;
}

@keyframes js {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes react {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}

@keyframes bootstrap {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes nodejs {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@keyframes mongodb {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@keyframes postgressql {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@keyframes restapi {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes figma {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@keyframes photoshop {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}
@keyframes git {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes postman {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
/* ---------------------Projects page---------------------- */
.section3 {
  color: var(--text-color);
  font-family: "Belanosima", sans-serif;
  background-color: #19376d;
  background-size: cover;
  background-repeat: no-repeat;
 
}

.flex-container1 {
  padding-top: 50px;
  padding-bottom: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  max-width: 1200px;
  flex-wrap: wrap;
  flex-direction: row;
  
}

.card {
  background-image: url("thumb-5.jpg");
  background-size: cover;
  background-position: center;
  width: 390px;
  height: 390px;
  transition: opacity 0.5s;
}

.project-card {
  background-position: center;
  background-size: cover;
  text-align: center;
  position: relative;
  transition: opacity 0.5s;
}

.project-title {
  padding: 20px;
  position: absolute;
  width: 100%;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.readmore-btn {
  text-align: center;
  color: #f0f0f0;
  background-color: #03ffff;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  cursor: pointer;

  
}





.project-card:hover .project-title {
  opacity: 1;
  transform: translateY(100px);
  transition: opacity 0.5s, transform 0.5s;
}

.project-card:hover .readmore-btn {
  opacity: 1;
  transform: translateY(-100px);
  transition: opacity 0.5s, transform 0.5s;
}

.project-card:hover .card {
  opacity: 0;
}



/* ---------------------About me page---------------------- */



.section4 {
  color: var(--text-color);
  font-family: "Belanosima", sans-serif;
  background-color: #0b2447;
  background-size: cover;
  background-repeat: no-repeat;

 
}

.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 20px;
  max-width: 1300px;

  
}




.my-photo{
  background-image: url("boy.png");
  width: 180px;
  height: 180px;
  background-size: cover;
  background-position: center; 

}

.about-theme{
  font-size: 28px;
  padding: 20px;

  
}
.about-me-desc{
 max-width: 60vh;
}

.about-desc{
  text-align: center;
  max-width: 230px;
  font-size: 18px;
}

.btn-resume{
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  height: 50px;
}





.circle{
  width: 100px;
  height: 100px;
  background-color: #03ffff;
  border-radius: 50%;

}

.circle-icon1{
  background-image: url(device.png);
  background-size: cover;
}
.circle-icon2{
  background-image: url(teamwork.png);
  background-size: cover;
}
.circle-icon3{
  background-image: url(clean.png);
  background-size: cover;
}
.circle-icon4{
  background-image: url(dynamic.png);
  background-size: cover;
}






@media screen and (max-width: 1250px) {
  .flex-container {
    flex-direction: column;
    height: 100%;
    gap: 3rem;
  }

  h1 {
    font-size: 6vw;
  }

  h2 {
    font-size: 1.5rem;
  }

  .links li {
    font-size: 3vw;
  }

  .SkillContainer {
    font-size: 1.5vw;
    min-height: auto;
    width: 100%;
  }
  .skillsTheme {
    font-size: 28px;
  }

  .skillsDescribtion {
    font-size: 22px;
  }
  .underline {
    width: 4rem;
  }

  .flex-column{
    flex: 1 0 50%;
  }
}
