
:root {
    --text-color: #f0f0f0;
    --text-color-navar: #03FFFF;
    --background-color: #171717;
    --primary-color: #474847;
    --secondary-color: #050505;
    --accent-color: #3a3b3a;


}









* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    scroll-behavior: smooth;
    box-sizing: border-box;
    

    
    
}



h1{
  font-size: 4vw;
  padding-bottom: 1rem;
}

h2{
  font-size: 1.875rem;
}

a {
  text-align: center;
  text-decoration: none;
  padding: 3vw 0vw 0 0vw;
  animation: bounce-in-top 2s both;
  
  

  
}

nav {
    color: var(--text-color-navar);
    font-family: 'Belanosima', sans-serif;
    background-color: transparent;
    text-align: center;
    padding-top: 1.563rem;
    padding-bottom: 1.563rem;
    width: 100%;
    position: fixed;
    transition: background-color 0.5s;
}

nav.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
}

.links li{
  display: inline;
  padding: 2rem;
  font-size: 2vw;
}











.section1 {
    
    color: var(--text-color);
    font-family: 'Belanosima', sans-serif;
    background-image: url('homepage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    z-index: -100;
    

    

    
    
    

}

.intro{
  position: relative;
  text-align: center;
  top:30%;

}

.introText{
  overflow: hidden;
  osition: relative;
  animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}


.chleb {
    overflow: hidden;
    position: relative;
    animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
    
    
    
}

.chleb::before {
    content: "programmer";
    animation: test 3s 2.5s ease-in  infinite normal;
    color: var(--text-color-navar);
    
    
    
}

.chleb::after {
    content: "";
    width: 2px;

    background-color: white;
    position: absolute;
    animation: blinking 0.5s infinite normal;
}

.container
{
  position:relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  
}
.bubbles{
  position: relative;
  display: flex;
  
  
}

.bubbles span{
  position: relative;
  width: 100px;
  height: 30px;
  background:#03FFFF ;
  margin: 0 4 px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #03FFFF, 0 0 100px #03FFFF;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
  
}






@keyframes animate {
  0%{
    transform: translateY(100vh) scale(0);
  }
  100%{
    transform: translateY(-10vh) scale(0.3);
  }
  
}



@keyframes test {
    0% { content: "p"; }
    10% { content: "pr"; }
    20% { content: "pro"; }
    30% { content: "prog"; }
    40% { content: "progr"; }
    50% { content: "program"; }
    60% { content: "programm"; }
    70% { content: "programme"; }
    80% { content: "programmer"; }

    
}

@keyframes blinking {
    from { opacity: 0%; }
    to { opacity: 100%; }
}

















@keyframes slide {
    0% {transform: translateY(0) translateX(0);}
    100% {transform: translateY(20px) translateX(-20px);}

    
    }




@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
    0% {
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }


  @keyframes bounce-in-top {
    0% {
      transform: translateY(-500px);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      transform: translateY(-65px);
      animation-timing-function: ease-in;
    }
    72% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    81% {
      transform: translateY(-28px);
      animation-timing-function: ease-in;
    }
    90% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    95% {
      transform: translateY(-8px);
      animation-timing-function: ease-in;
    }
    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
  }





.section2  {

    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    background-color: #042747;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 40px;

}


.SkillContainer {
  display: flex;
  border-color: #03FFFF;
  border-style: solid;
  border-width: 5px;
  background-color: #042747;
  width: 25vw;
  height: 60vh;
  padding: 40px;
  justify-content: flex-start; 
  align-items: flex-start; 
}

.content {
  position: relative;
  display: flex;
  flex-direction: column; 
}

.skillsTheme {
  color: #03FFFF;
  font-size: 2vw;
 
  
}

.skillsDescribtion {
  font-size: 20px;
  padding: 10px;
  text-align: right;
}












